<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Merriweather:wght@300&family=Raleway:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="css/home.css">
   <!-- AOS css Library -->
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Pehchaan</title>
  </head>
  <body>
    
     <!-- section 1  -->

   <div class="section1">

    <%- include("partials/navBar") -%>
<div class="main-box">
    <div class="vid">
    
      <div class="w-100">
        <h1  style="font-family: 'Aladin', cursive;">Pehchaan</h1>
        <!-- <p class="lead mb-0"> “Women are leaders everywhere you look—from the CEO who runs a Fortune 500 company to the housewife who raises her children and heads her household. Our country was built by strong women, and we will 
          continue to break down walls and defy stereotypes.”<br> –Nancy Pelosi</p> -->
      </div>
    
      <div class="overlay" ></div>
      <div>
        <div class="vid-box" >
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="backk3.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div>
      <img src="/static/images/ladynew1.jpg" alt="">
    </div>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
          
          </div>
        </div>
      </div>

</div>


   <!-- section 2 - Ladies  -->

    <div class="section2">

    <h1 class="head_sect" >Our SuperWomen</h1>

    <div class="sub_sect2">

      <% for(var i=0; i<4;i++){ %>
        <div class="card mb-3 div_sect2" style="max-width: 90%;">
          <div class="row g-4">
            <div class="col-lg-4">
              <img class="img_sect2" src="<%= lady[i].image %>" alt="...">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h3 class="card-title" style="font-family: 'Raleway', sans-serif;"><%= lady[i].name %></h3>
                  <p class="card-text"><%= lady[i].heading %></p>
                  <p class="card-text"><%= lady[i].para1 %></p>
                  <a href="/<%= lady[i].name %>">More</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>

    </div>

   <!-- section 3 - carousel(products) -->
  <!-- section 3 - carousel(products) -->
  <div class="section3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner sect3-item">
        <div class="carousel-item active">
          <img
            src="images/carousel-1.jpg"
            class="d-block w-100 sect3-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item sect3-item">
          <img
            src="images/carousel-2.jpg"
            class="d-block w-100 sect3-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item sect3-item">
          <img
            src="images/carousel-3.jpg"
            class="d-block w-100 sect3-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<!-- new-section -->
 <div class="section4">
  <h1 class="head_sect text-white">Current Statistics</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="fade-right" data-aos-offset="300"  data-aos-easing="ease-in-sine">
      <img src="images/stats1.jpg" alt="" class="sect4-img">
    </div>
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-offset="300"
    data-aos-duration="2000">
      <img src="images/women.gif" alt="" class="sect4-img">
    </div>
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="fade-left"
     
    data-aos-offset="300" > 

      <img src="images/stats3.jpg" alt="" class="sect4-img">
    </div>
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="fade-up" data-aos-offset="300"
    data-aos-anchor-placement="top-bottom">
      <img src="images/stats7.jpg" alt="" class="sect4-img">
    </div>
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-offset="300"
    data-aos-duration="300">
      <img src="images/stats5.jpg" alt="" class="sect4-img">
    </div>
    <div class="col-lg-4 col-md-6 sect4-col" data-aos="fade-left"
    
    data-aos-offset="300"> 
     
      <img src="images/stats6.jpg" alt="" class="sect4-img">
    </div>
  </div>
</div> 
  </div>

   <%- include("partials/footer") -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   <!-- AOS js Library -->
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>


  </body>
</html>




